
.dicas{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 70px;


}

.visivel{
	cursor: pointer;
}
.invisivel{
 	margin-top: 20px;
	width: 100%;
	height: auto;
	top: 41px;
	left: 50%;
	background-color: #fff9;
	border: solid 2px green;
	overflow: hidden;
	clear: both;
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
}
b{
	color: blueviolet;
}
b:hover{
	font-size: 21px;
}
.galeria{
	left: 40px;
	width: 702px;
	height: 502px;
	position: relative;
	overflow: hidden;
}
.galeria1{
	margin: 10px auto;
	width: 702px;
	height: 502px;
	position: relative;
	overflow: hidden;
}
.foto:nth-child(1){

}
.foto:nth-child(2){
	animation-delay: 5s;
}
.foto:nth-child(3){
	animation-delay: 10s;
}
.foto:nth-child(4){
	animation-delay: 15s;
}
.foto:nth-child(5){
	animation-delay: 20s;
}
.foto:nth-child(6){
	animation-delay: 25s;
}
.foto:nth-child(7){
	animation-delay: 30s;
}
.foto:nth-child(8){
	animation-delay: 35s;
}
.foto:nth-child(9){
	animation-delay: 40s;
}
.foto:nth-child(10){
	animation-delay: 45s;
}

.foto1:nth-child(1){

}
.foto1:nth-child(2){
	animation-delay: 4s;
}
.foto1:nth-child(3){
	animation-delay: 8s;
}
.foto1:nth-child(4){
	animation-delay: 12s;
}
.foto1:nth-child(5){
	animation-delay: 16s;
}
.foto1:nth-child(6){
	animation-delay: 20s;
}

.foto{
	position: absolute;
	opacity: 0;
	animation-name: animacao;
	animation-duration:50s;
	animation-iteration-count: infinite;
	border: 1px solid;
}
.foto1{
	position: absolute;
	opacity: 0;
	animation-name: animacao;
	animation-duration:25s;
	animation-iteration-count: infinite;
	border: 1px solid green;
}
@keyframes animacao{
	10%{
		opacity: 1;
	}
	25%{
		opacity: 1.5;
	}
	50%{
		opacity: 0;

	}

}
.li_aqua{
	text-indent: 40px;
}
.list_ol li{
	padding: 10px;
}
.invisivel p, li{
	font-family: "Arial";
	text-align: justify;
	padding-right: 15px;
}

.cuidados{
	padding-right: 100px;
	padding-left: 40px;
}
