#container{
  background-color: #eef4f3;
	border: inset  3px;
	border-radius: 2px;
}

#lista{
	padding-left: 70px;
	margin-top: 40px;
	margin-bottom: 10px;
  font-size: 18px; 
	padding-bottom: 50px;
	font-family: Arial;
	
}
#lista ul li{
	padding-top: 10px;
	text-transform: uppercase;
}
#lista em{
	text-transform: initial;
	padding-left: 20px;
	font-style: normal;
}
#lista p{
	text-align: justify;
	margin-right: 100px;
	text-indent: 20px;
}
#Vendedor{
	text-align: center;
}
#Mapa{
	width: 400px;
	height: 300px;
	margin-left: 130px;
	margin-top: 10px;
	border: inset black 4px;
}
